Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [ ]:
import pandas as pd

# Create a list with 10 elements
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
series = pd.Series(data_list)

# Print the series
print(series)

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure that consists of rows and columns, similar to a spreadsheet or SQL table

In [ ]:
import pandas as pd

# Creating a Pandas Series
series_data = pd.Series([1, 2, 3, 4, 5], name='A')

# Creating a Pandas DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [True, False, True, False, True]
}
df = pd.DataFrame(data)

# Printing the Series and DataFrame
print("Pandas Series:")
print(series_data)
print("\n")

print("Pandas DataFrame:")
print(df)

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

- head() and tail()
- info()
- describe()
- drop()
- fillna()
- groupby()

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?


Among Series, DataFrame, and Panel in Pandas, only DataFrame is mutable in nature.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
import pandas as pd

# Create multiple Pandas Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
age_series = pd.Series([25, 30, 35, 40])
city_series = pd.Series(['New York', 'Los Angeles', 'Chicago', 'Houston'])

# Create a DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series,
    'City': city_series
}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)